/* General */
.advice-container {
  margin-bottom: 10px;
}

.advice-text {
  font-size: 13px;
  color: #262626;
}

.advice-title {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 4px;
}

.link {
  color: blue;
  text-decoration: underline;
}

.link:hover {
  color: blueviolet;
  cursor: pointer;
}

/* Section specific */
nav {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid black;
}

.navigation--item {
  font-size: 19px;
  margin: 3px 5px;
}

.navigation--item:last-of-type {
  margin-right: 10px;
}

.content-container {
  margin: 30px 10% 0 10%;
}

h1 {
  font-size: 53px;
  text-align: center;
  margin-bottom: 25px;
}

.form--short-entities-container {
  display: flex;
}

.form--short-entity {
  margin: 0 10px 10px;
}

.form--short-entity:first-of-type {
  margin-left: 0;
}

label {
  display: block;
}

.form--submit-container {
  display: flex;
  justify-content: flex-end;
}

.form--submit {
  font-size: 14px;
  border: 1px solid black;
  background-color: white;
  padding: 4px 10px;
}

.month-selector--container {
  margin-bottom: 4px;
}

.month-selector--button {
  border: none;
  background-color: white;
  font-size: 16px;
}

.income-expense-summary--text {
  margin-bottom: 10px;
}

.entries-table--table {
  margin-bottom: 5px;
}

.entries-table--header-row {
  border-bottom: 1px solid lightgray;
}

td {
  padding-bottom: 3px;
}

.entries-table--date-cell {
  text-align: right;
  width: 0.1%;
}

tr:nth-child(2) .entries-table--date-cell {
  padding-top: 5px;
}

.entries-table--number-cell {
  text-align: right;
  width: 20%;
}

.entries-table--action-cell {
  text-align: center;
  width: 20%;
}

.entries-table--first-entry-of-day {
  padding-top: 7px;
}

tr:not(:nth-child(2)) .entries-table--same-day-entry {
  color: white;
}

.show {
  display: block;
}

.hide {
  display: none;
}