h1 {
  text-align: center;
}

label {
  display: block;
}

td {
  width: 20%;
}

.link {
  color: blue;
  text-decoration: underline;
}

.link:hover {
  color: blueviolet;
  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}